body{
	font-family:'Microsoft yahei';
	background:#09070e;
}
a {
	font-family:'Microsoft yahei';
	
}
img {
	border:none;
	float:left;
}
.w100 {
	width:100%;
}
.w1140 {
	width:1140px;
	margin:0 auto;
}
.clear:after {
	content:"";
	display:block;
	clear:both;
}
#head {
	background:#262626;
}
#head .w1140 {
	height:34px;
}
#head .w1140 ul {
	width:1140px;
	height:34px;
	line-height: 34px;
}
#head .w1140 ul li {
	float:left;
	height:34px;

}
#head .w1140 ul li a:hover {
	text-decoration: underline;
}
#head .w1140 ul .li1{
	width:40px;
	margin-right:60px;
}
#head .w1140 ul .li2{
	width:100px;
}
#head .w1140 ul .li3{
	width:100px;
}
#head .w1140 ul .li4{
	width:30px;
}
#head .w1140 ul .li1 a {
	font-size:16px;
}
#head .w1140 ul li a {
	color:#fff;
	font-size:12px;
}
#head .w1140 ul li{
	text-align: center;
}
#head .w1140 ul .li4 a {
	display:inline-block;
	float:right;
	width:13px;
	height:14px;
	margin-top:10px;

}
#head .w1140 ul .li4 a img{
	height:100%;
	width:100%;
}
#head .w1140 ul .li4 {
	float:right;
}
.blank {
	height:80px;
	line-height: 80px;
	color:#fff;
	font-size:14px;
}
#mid {
	width:1140px;
	height:482px;
	overflow: hidden;
	margin-top:20px;
}
#mid ul {
	margin-top:-20px;
	margin-left:-15px;
}
#mid ul li {
	width:216px;
	height:231px;
	float:left;
	background:#fff;
	margin-left:15px;
	margin-top:20px;
	overflow: hidden;
}
#mid ul li .top {
	position:relative;
	width:216px;
	height:190px;
	border-bottom:1px solid black;
}
#mid ul li .top img {
	width:196px;
	height:181px;
	position: absolute;
	left:0;
	right: 0;
	top: 0;
	bottom:0;
	margin:auto;
}
#mid ul li .bottom {
	width:216px;
	height:40px;
	line-height: 40px;
	text-align: center;
}
#mid ul li .bottom a {
	font-size:14px;
	color:#3b3b3b;
}
#mid ul li .bottom a:hover {
	text-decoration: underline;
}
#mid ul .li3 .top img {
	width:196px;
	height:181px;
}
#mid ul .li7 .top img {
	width:251px;
	height:158px;
}

#mid ul .li9 .top img {
	width:216px;
	height:190px;
}
#footer {
	background:#f4f4f4;
	margin-top:130px;

}
#footer .w1140 {
	height:60px;
}
#footer .w1140 ul {
	width:1140px;
	float:left;
	height:60px;
	text-align: center;
	line-height: 60px
}
#footer .w1140 ul li {
	float:left;
}
#footer .w1140 ul li a {
	font-size:12px;
	color:#919191;
}
#footer .w1140 ul li a:hover {
	text-decoration: underline;
}
#footer .w1140 ul .li3 {
	font-size:12px;
	color:#a0a0a0;
	margin-left:30px;
}
#footer .w1140 ul .li2 {
	margin-left:40px;
}